@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CrashDataInput
<!--Hero Section-->
<div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg8.jpg")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Crash Severity Calculator</h1>
            </div>
        </div>
    </div>
</div>

<!--Main Content-->
<div class='container-fluid no-padding mb40'>
    <div class='row no-margin'>
        <div class='col-lg-8  mr-auto ml-auto'>
            <br /><br />
            <div class="title-heading1 mb30">
                <h3>Make a Crash Severity Prediction by Filling out the Form Below</h3>
                <h2><span class="badge badge-info">@(ViewBag.Result != null ? "Predicted Crash Severity: " + ViewBag.Result.PredictedValue : "")</span></h2>
            </div>
            <div class="col-lg-7 mr-auto ml-auto calculator">
            <form method="post">
                <div class="text-danger" asp-validation-summary="All"></div>

                <div class="form-group">
                    <label asp-for="Milepoint"><b>Milepoint</b></label>
                    <input class="form-control" asp-for="Milepoint" />
                </div>

                <div class="form-group">
                    <label asp-for="LatUtmY"><b>Latitude</b></label>
                    <input class="form-control" asp-for="LatUtmY" />
                </div>

                <div class="form-group">
                    <label asp-for="LongUtmX"><b>Longitude</b></label>
                    <input class="form-control" asp-for="LongUtmX" />
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="PedestrianInvolved" />
                    <label class="form-check-label" asp-for="PedestrianInvolved"><b>Pedestrian Involved?</b></label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="BicyclistInvolved" />
                    <label class="form-check-label" asp-for="BicyclistInvolved"><b>Bicyclist Involved?</b></label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="MotorcycleInvolved" />
                    <label class="form-check-label" asp-for="MotorcycleInvolved"><b>Motorcycle Involved?</b></label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="OverturnRollover" />
                    <label class="form-check-label" asp-for="OverturnRollover"><b>Vehicle Overturned/Rolled Over?</b></label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="TeenageDriverInvolved" />
                    <label class="form-check-label" asp-for="TeenageDriverInvolved"><b>Teenage Driver Involved?</b></label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="NightDarkCondition" />
                    <label class="form-check-label" asp-for="NightDarkCondition"><b>Was it Dark Out?</b></label>
                </div>

                <button class="btn btn-primary btn-sm mt-3" type="submit">Make Prediction</button>
            </form>
            </div>
        </div>
    </div>
</div>
