@{
    ViewData["Title"] = "Privacy";
}

<!--Hero Section-->
<div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg8.jpg")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Privacy Policy</h1>
            </div>
        </div>
    </div>
</div>
<!--Main Content-->
<div class="container-fluid no-padding mb40">
    <div class="row no-margin">
        <div class="col-lg-8 mr-auto ml-auto">
            <br />
            <p>
                Group 4-1 is part of the Information Systems Management Major which includes The Marriott School of Business and Brigham Young University.
                This privacy policy will explain how our we use the personal data we collect from you when you use our website.
            </p>
            <p>Topics:</p>
            <ul>
                <li>What data do we collect?</li>
                <li>How do we collect your data?</li>
                <li>How will we use your data?</li>
                <li>How do we store your data?</li>
                <li>Marketing</li>
                <li>What are your data protection rights?</li>
                <li>What are cookies?</li>
                <li>How do we use cookies?</li>
                <li>What types of cookies do we use?</li>
                <li>How to manage your cookies</li>
                <li>Privacy policies of other websites</li>
                <li>Changes to our privacy policy</li>
                <li>How to contact us</li>
                <li>How to contact the appropriate authorities</li>
            </ul>

            <h3>What data do we collect?</h3>
            <p>Our Company collects the following data:</p>
            <ul>
                <li>Personal identification information (Name, email address, etc.)</li>
            </ul>

            <h3>How do we collect your data?</h3>
            <p>You directly provide Our Company with most of the data we collect. We collect data and process data when you:</p>
            <ul>
                <li>Register online or place an order for any of our products or services.</li>
                <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.</li>
                <li>Use or view our website via your browser’s cookies.</li>
            </ul>         

            <h3>How will we use your data?</h3>
            <p>Our Company collects your data so that we can:</p>
            <ul>
                <li>Verify your ability to update / manage the Collision Database</li>
            </ul>

            <p>If you agree, Our Company will share your data with our partner companies so that they may offer you their products and services.</p>
            <ul>
                <li>Brigham Young University</li>
                <li>Utah Department of Transportation</li>
            </ul>            

            <h3>How do we store your data?</h3>
            <p>Our Company securely stores your data at YEET Inc's state of the art datacenter in La Verkin, UT.</p>            

            <h3>What are your data protection rights?</h3>
            <p>Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
            <p><strong>The right to access</strong> – You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.</p>
            <p><strong>The right to rectification</strong> – You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.</p>
            <p><strong>The right to erasure</strong> – You have the right to request that Our Company erase your personal data, under certain conditions.</p>
            <p><strong>The right to restrict processing</strong> – You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.</p>
            <p><strong>The right to object to processing</strong> – You have the right to object to Our Company’s processing of your personal data, under certain conditions.</p>
            <p><strong>The right to data portability</strong> – You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
            <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:</p>
            <p>Call us at: +1(801)-1111-22222</p>
            <p>Or write to us: utahcollisiondb@notreal.com</p>

            <h3>Cookies</h3>
            <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology</p>
            <p>For further information, visit allaboutcookies.org.</p>

            <h3>How do we use cookies?</h3>
            <p>Our Company uses cookies in a range of ways to improve your experience on our website, including:</p>
            <ul>
                <li>Keeping you signed in</li>
                <li>Understanding how you use our website</li>
            </ul>

            <h3>What types of cookies do we use?</h3>
            <p>There are a number of different types of cookies, however, our website uses:</p>
            <ul>
                <li>Functionality – Our Company uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
                <li>Advertising – Our Company uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. Our Company sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.</li>                
            </ul>

            <h3>How to manage cookies</h3>
            <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

            <h3>Privacy policies of other websites</h3>
            <p>The Our Company website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

            <h3>Changes to our privacy policy</h3>
            <p>Our Company keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 7 April 2022.</p>

            <h3>How to contact us</h3>
            <p>If you have any questions about Our Company’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
            <p>Email us at: utahcollisiondb@notreal.com</p>
            <p>Call us: +1(801)-1111-22222</p>            

            <h3>How to contact the appropriate authority</h3>
            <p>Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office.</p>
            <p>Email: utahcollisiondb@notreal.com</p>
            <p>Address: TNRB, Brigham Young University, Provo, UT 84602</p>

            <div class="post-share"><div id="ssba-modern-2" class="ssba ssbp-wrap left ssbp--theme-4"><div style="text-align:left"><span class="ssba-share-text">Share on:</span><ul class="ssbp-list"><li class="ssbp-li--facebook"><a data-site="" class="ssba_facebook_share ssbp-facebook ssbp-btn" href="http://www.facebook.com/sharer.php?u=https://gdpr.eu/privacy-notice/" target="_blank"><div title="Facebook" class="ssbp-text">Facebook</div></a></li><li class="ssbp-li--google"><a data-site="" class="ssba_google_share ssbp-google ssbp-btn" href="https://plus.google.com/share?url=https://gdpr.eu/privacy-notice/" target="&quot;_blank&quot;"><div title="Google+" class="ssbp-text">Google+</div></a></li><li class="ssbp-li--twitter"><a data-site="" class="ssba_twitter_share ssbp-twitter ssbp-btn" href="http://twitter.com/share?url=https://gdpr.eu/privacy-notice/&amp;text=Writing%20a%20GDPR-compliant%20privacy%20notice%20%28template%20included%29%20" target="&quot;_blank&quot;"><div title="Twitter" class="ssbp-text">Twitter</div></a></li><li class="ssbp-li--linkedin"><a data-site="linkedin" class="ssba_linkedin_share ssba_share_link ssbp-linkedin ssbp-btn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://gdpr.eu/privacy-notice/" target="&quot;_blank&quot;"><div title="Linkedin" class="ssbp-text">Linkedin</div></a></li></ul></div></div></div>
        </div>
    </div>
</div>